.minesweeper {
  &-status {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 340px;
    margin: auto;
  }

  &-grid {
    user-select: none;
    position: relative;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-auto-rows: 40px;
    justify-content: center;

    &:before {
      content: '';
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }
  }
}